@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');


*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
padding: 0;
margin: 0;
scroll-behavior: smooth;
  }
  body {
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #000;
   
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .main{
  
    position: relative;
    background-image: url("https://www.asd.gov.au//sites/default/files/2022-03/history-backdrop_3.png");
    background-attachment:fixed;
    background-size:cover ;
    padding: 20px 10px;
  
  }
.navbar-container{
    background-color: #000;  

}


  .navbar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .navbar__link a {
    align-self: flex-start;
  
  
  }
  
  .navbar__link {
    margin: 0 20px;
    padding-bottom: 10px;
  
  }
  
  .navbar__link::after {
    margin-bottom: 10px;
    content: '';
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.31s ease-in-out, background-color 0.31s ease-in-out;
  
  }
  
  .navbar__link:hover::after {
    width: 100%;
    background: #006db7;
  }
  
  .navbar__link a {
    color: #333333;
    font-size: 16px;

    text-decoration: none;
  }
  

  .search{
    margin-left: -40px;
    margin-top: 10px;
  }
 .hero{
    height: 350px;
    background-color: rgba(8, 10, 12, 0.96);
   
  } 
.hero-main{
   padding-top: 40px;
   margin-left: 100px;
}
.hero-main > h1{
    font-weight: 700;
    font-size: 60px;
    color: rgb(255, 255, 255);
}
.who-main{
    width: 500px;
    padding: 10px;
}

.hero-main > h3{
    font-weight: 600;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.history > h1{
    font-weight: 600;
    font-size: 42px;
    color: rgb(34, 34, 34);
}
.history > p {
    font-weight: 400;
    font-size: 16px;
    color: rgb(34, 34, 34);
}
.history > div{
    color: #006db7;
    background-color: transparent;
  border: 2px solid #006db7;
}
.history > div > a {
    color: #006db7;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

}
.link-arrow{
  color: #006db7;
}

.about:hover {
    background-color: #006db7;

}
.about1 {
    background-color:rgb(255, 255, 255);

}
.about1:hover {
    background-color: #006db7;

}
.about1:hover .about-link{
    color:  rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
    background-color: #006db7;

}
.about:hover .about-link{
    color:  rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
    background-color: #006db7;

}
.about:hover  .link-arrow{
    color:  rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;

}



/* ==========================================VIDEO================================================================= */

/* .who{
    border: 2px solid red;
} */
/* .home__reviewVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
     width: 600px;
    height: 400px;
    box-shadow: 0 8px 10px 4px lightgray;
    padding: 0; 

}  */

 .home__reviewVideo>video {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0;



}

/* .home__reviewVideo > video:hover {
    transition: transform 0.30s ease-in-out;
    transform: scale(1.010) !important;

} */
.home__reviewVideo:hover{
  border: 2px solid yellowgreen;
}
video:hover{
    transition: transform 0.30s ease-in-out;
    transform: scale(1.010) !important;
    cursor: pointer;
    box-shadow: 0 8px 25px -8px #000;
    opacity: 0.8;

}
video:hover .home__reviewVideoIcon{
    transition: transform 0.30s ease-in-out;
    transform: scale(1.010) !important;
    cursor: pointer;
    box-shadow: 0 8px 25px -8px #000

}
.home__heroAdd:hover{
  /* border-color: #5e50ee!important; */
  color: #fff!important;
  box-shadow: 0 8px 25px -8px #f24443;
}
.home__reviewVideoIcon:hover {
  transition: transform 0.30s ease-in-out;
  transform: scale(1.010) !important;
  cursor: pointer;
  
} 
.home__reviewVideoIcon {
    position: relative;
    left: -240px;
    bottom: 170px;
    font-size: 55px;
    width: 55px;
    height: 55px;
    background-color: #F7F9FD;
    border-radius: 100%;
    border: transparent;
    color: #7c7e81;
} 

.report{
  padding: 30px 10px;
}

.box-wrapper{
  background-color: #000;
  width: 374px;
  height: 280px;
  margin: 10px;
  padding: 15px 10px;
}
/* .box-1{
    cursor: pointer;
   
    
    border-right: 10px solid #006db7;
    border-bottom: 10px solid #006db7;

    bottom: 0
} */
.bottom{
  height: 12px;
  width: 180px;
  background-color: #006db7;
  position: absolute;
  right: 50.7%;
  bottom: 46%;
  display: none;
  transition: linear display 0.30ms;
  margin-top: 9px;
}
.right{
  height: 180px;
  width: 12px;
  position: relative;
  right: -100%;
  bottom: 51.3%;
  background-color: #006db7;
  display: none;
  margin-left: 10px;
  transition: linear display 0.30ms;
}
.bottom2{
  height: 12px;
  width: 180px;
  background-color: #006db7;
  position: absolute;
  right: 2.5%;
  bottom: 46.00%;
  display: none;
  margin-top: 5px;
  webkit-transition: display ease 0.30s;
}
.right2{
  height: 180px;
  width: 12px;
  position: relative;
  right:-100%;
  bottom: 15%;
  background-color: #006db7;
  display: none;
  margin-left: 10px;
  transition: linear display 0.30ms;
}
.box-wrapper:hover{
  cursor: pointer;
}
.box-wrapper:hover .bottom,
.box-wrapper:hover .right{
  display: block;

}
.box-wrapper:hover .bottom2,
.box-wrapper:hover .right2{
  display: block;
}

.box-wrapper:hover > .box-link{
    text-decoration: underline;
    cursor: pointer;
    /* border-right: 2px solid red;
  border-bottom: 2px solid red; */
}
.box-1{
    
}

.box-1 > div > a{
    font-size: 32px;
    font-weight: 600px;
    color:rgb(255, 255, 255);
    line-height: 40px;
}
.box-1 > div > a > p {
    font-size: 14px;
    font-weight: 400px;
    color:rgb(255, 255, 255);
    line-height: 21px;
}
.black-chevron{
    align-self: flex-end;
    margin-right: 10px;
}

.history-timeline{
  background-color: rgba(0, 109, 183,0.96);
  opacity: 0.96;
  padding: 20px 10px;
  height: 500px;


}
.history__timelineImage img{
  object-fit: contain;
}
.link-button{
    background-color: #006db7;
    padding: 10px 12px;
}
.link-button > a {
    font-size: 9px;
}
 .paragraph{
    font-family: Cabin, sans-serif;
    font-size: 14.4px;
    font-weight: 400;
    Line-height: 16px;
    color: rgb(171, 188, 196);
 }
 .list-link:hover{
    text-decoration: underline;
 }
 .list-link{
    text-decoration: underline;
 }
 .quiz-section{

  background-color: rgba(0, 109, 183,0.8);
  height: 200px;

}
.link-button_quiz{
  background-color: #000;
  padding: 10px 30px;
  width: 250px;
}
.link-button_quiz > a{
 color: #F7F9FD;
 text-decoration: none;
 font-size: 16px;
 font-weight: 600;
}
 .footer{

    padding: 50px;
    background-color: #000;
    width: 100vw;
    bottom: 0;
    height: 100%;
 }

 @media screen  and (max-width:670px){
  .section1{
    flex-direction: column;
  }
  .section2{
    flex-direction: column-reverse;
  }

  .right,.right2,.bottom,.bottom2{
    display: none;
  }
  .box-wrapper{
    width: 20%;
    height: 280px;
    margin: 10px;
    padding: 10px 5px;
  }
  .history-timeline{
    height: 100%;
    width: 100%;
  }
  .footer{
    width: 100%;
  }
 }